{
  "scheduler": ["str",   "cos"],
  "LR"       : ["float", "0.025"],
  "eta_min"  : ["float", "0.001"],
  "epochs"   : ["int",   "255"],
  "warmup"   : ["int",   "0"],
  "t_epochs" : ["int",   "5"],
  "s_epochs" : ["int",   "5"],
  "optim"    : ["str",   "SGD"],
  "decay"    : ["float", "0.0005"],
  "momentum" : ["float", "0.9"],
  "nesterov" : ["bool",  "1"],
  "criterion": ["str",   "SmoothSoftmax"],
  "label_smooth": ["float", 0.1],
  "auxiliary"   : ["float", "0.4"],
  "batch_size": ["int",  "256"]
}
