{
  "super_type"      : ["str",  "nasnet-super"],
  "name"            : ["str",  "DDNAS"],
  "C"               : ["int",  "36"  ],
  "N"               : ["int",  "6"  ],
  "steps"           : ["int",  "4"  ],
  "multiplier"      : ["int",  "4"  ],
  "stem_multiplier" : ["int",  "3"  ],
  "keep_prob"       : ["float","0.6"  ],
  "drop_path_keep_prob" : ["float", "0.8"  ]
}
