{
  "super_type"      : ["str",  "nasnet-super"],
  "name"            : ["str",  "DDNAS"],
  "C"               : ["int",  "36"  ],
  "N"               : ["int",  "6"  ],
  "steps"           : ["int",  "4"  ],
  "multiplier"      : ["int",  "4"  ],
  "stem_multiplier" : ["int",  "3"  ],
  "drop_prob"       : ["float","0.4"  ],
  "drop_path_prob"  : ["float","0.2"  ]
}
