{
  "scheduler": ["str",   "cos"],
  "LR"       : ["float", "0.025"],
  "eta_min"  : ["float", "0.0"],
  "epochs"   : ["int",   "595"],
  "warmup"   : ["int",   "5"],
  "gamma"    : ["float", "0.0035"],
  "optim"    : ["str",   "SGD"],
  "decay"    : ["float", "0.0003"],
  "momentum" : ["float", "0.9"],
  "nesterov" : ["bool",  "1"],
  "criterion": ["str",   "Softmax"],
  "label_smooth": ["float", "0.1"],
  "auxiliary"   : ["float", "0.4"],
  "batch_size": ["int",  "96"]
}
